// Header Section---------------------------------------------


header .animation {height: 270px; width: 100%; background-color: lightgoldenrodyellow}
header .subHeader {height: 40px; width: 100%; background-color: #192817}


//Main Navigation Section---------------------------------------------


nav {background-color: rgba(0,0,0,.3); position: absolute; 
    top: 310px; left: 0px; 
    padding: 0px 0 0 0;
    width: 100%; }

nav::after {content:''; display: block; clear: both}

nav .container {max-width: 700px; margin: 0 auto;}
nav .container ul {list-style: none; margin: 0; padding: 0}
nav .container ul li:hover {background-color: darkred}
nav .container ul li:hover > ul {display: block}
nav .container ul li a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
}
nav .container ul li a:visited {color: #fff}
nav .container ul li a:hover {background-color: red}

nav .container ul ul {position: absolute; top: 100%; background-color: darkred; display: none}
nav .container ul ul li {position: relative}


//Top Level Navigation---------------------------------------------


nav > ul {}
nav > .container > ul > li {float: left}
nav > .container > ul >li > a {width: auto; padding: 15px 20px 15px 20px}


//Hero Section---------------------------------------------



.hero::after { content:''; display: block; clear: both}

.hero {margin-top: 100px; max-width: 100%; height: 500px}
.hero aside {width: 50%; height: 500px; margin: 0; float: left}
.hero aside h1 {min-width: 250px; margin: 0 auto auto 33%; position:relative}
.hero aside h1 span {position:absolute}
.hero aside h1 span.line1 {color:$red; font-size: 3em}
.hero aside h1 span.line2 {color: $light-green; font-size: 2.5em; top:48px}
.hero aside h1 span.line3 {color: $dark-green; font-size: 8em; letter-spacing: 4px; top:66px}
.hero aside h1 span.line4 {color: $dark-green; font-size: 5em; letter-spacing: 2px; top:196px; left: -15px}
.hero aside h1 span.line5 {color: $green; font-size: 5.2em; top:270px}
.hero aside h3 {width: 250px; margin: 0 auto auto 33%; padding-top:382px}
.hero aside img {width:70%; 
    min-width: 350px; 
    transform: rotate(-3deg); 
    box-shadow: 7px 0px 10px rgba(0,0,0,.5)
}


//Main section---------------------------------------------


.main {display: inline-block; width: 100%; margin: 50px 0; background-color: rgba(136,196,63,.2)}
.main .row {width: 100%; margin: 0 auto; padding: 40px 0}
.main .row aside {padding: 40px 0;width: 33.333333%; float: left}
.main .row aside img {width: 70%; height: auto; margin: 0 7%}
.main .row aside h2 {width: 80%; margin: 0 auto}
.main .row aside p {width: 70%; margin: 0 auto}


//Who Are We Section---------------------------------------------


.who {width: 100%; margin: 50px 0;}
.who .row {width: 80%;  margin: 0 auto;  clear:both}
.who .row aside {width: 50%; float:left; padding-bottom: 60px}
.who .row img {width: 100%}
.who .row blockquote {background-color: #B8A88C; margin: 0 0 0 30px; padding: 30px 20px}
.who .row blockquote h2 {margin-bottom: 0; font-size: 1.5em; color: $red}
.who .row blockquote p {margin-top: 0; line-height: 1.5em }
.who .row h2 {font-size: 3em; color:$green; letter-spacing: 2px;}
.who .row aside.reserve {width: 50%; float: right}
.who .row aside.reserve blockquote {background-color: $light-green; 
    margin: 0 0 0 100px; 
    padding: 30px 20px; 
    transform: rotate(-2deg); 
    box-shadow: 7px 0px 10px rgba(0,0,0,.4)
}
.who .row aside.reserve a.btn {
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
    float: right;
    text-align: center;
    margin-top: 30px;
    background-color: $green;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    transition: background-color .3s
}

.who .row aside.reserve a.btn:hover {background-color: $red}


//Footer ---------------------------------------------


footer {background-color: #91CEAF; clear: both; position: relative; padding: 3em 0}
footer .container {
    position: relative; 
    width: auto; 
    margin-left: 15%; 
    margin-right: 15%; 
    background-color:$body-color; 
    display:inline-block;
    padding: 3em 3em 0 3em;
}
footer .container blockquote {width: 45%; float:left; margin: 0; background-color: #fff}
footer .container blockquote img {width:70%; margin-left: 15%; margin-top: 30px}
footer .container blockquote p {font-size: 0.7em; width: 70%; text-align: center; margin: 0 auto; padding: 15px 0}
footer .container aside {width: 50%; float: left; position: relative} 
footer .container aside img {
    position: absolute;
    width: 85%; 
    margin-left: -2%; 
    margin-top: -1em;
    border: 8px solid #fff; 
    box-shadow: 3px 0px 15px rgba(0,0,0,.4);
    transform: rotate(-1deg)
}
footer .container p {clear: both; padding: 70px 0; text-align: center; font-size: 0.7em}
footer .container p a {line-height: 1.8em; letter-spacing: 0.5px}


@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
