* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* ----- -------- ----- */


/* ----- Variable ----- */


/* ----- -------- ----- */

body {
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  margin: 3em;
  width: 100%;
  height: 100%;
  /*  position: relative;*/
  font-size: 18px;
  background-color: #F7F7F7;
}

.body-container {
  width: 100%;
}

a {
  text-decoration: none;
  color: #E30613;
}

.highlight {
  /*  color: #EC6262;*/
  /*  color: #FF5252!important;*/
  color: #E30613;
}

.title {
  position: fixed;
  top: 1em;
  z-index: 999;
  font-size: 1.3em;
  font-weight: 800;
}

sup {
  font-weight: 200;
  font-size: 0.4em;
  color: #E30613;
  position: relative;
  top: 0.2em;
  padding-left: 4px;
}

.title:after {
  content:' {}';
  letter-spacing: 1px;
  position: relative;
  top: -3px;
}

.main-nav {
  z-index: 2;
  width: 40%;
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  margin-top: 6em;
  display: inline-block;
  float: left;
}

.map-container {
  z-index: 0;
  width: 50%;
  margin-top: 6em;
  padding-top: 50%;
  position: absolute;
  right: 1em;
  display: inline-block;
  background-color: #FF5252;
  transform: translateX(90%);
  transition: 0.4s linear;
}

.dataArea {
  width: 100%;
  height: 600px;
  max-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 18px;
  /*  display:none;*/
  margin-left: 3px;
  transition: max-height 0.2s ease-out;
}

.pl-name {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}

.pl-services {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-style: italic;
  font-weight: 100;
  font-size: 19px;
}

.pl-address {
  font-size: 16px;
}

.pl-phone {
  font-size: 16px;
}

.pl-website {
  font-size: 16px;
}

div strong {
  font-weight: 500;
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 16px;
}

.dataAreaContainer {
  padding: 1em 0;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 200;
  line-height: 1.3em;
  width: 100%;
}

.dataAreaContainer a {
  text-decoration: none;
  border-bottom: 2px dotted;
  transition: all 0.6s;
}

.dataAreaContainer a:hover {
  color: black;
}

button.accordion {
  border: 0;
  color: #353535;
  cursor: pointer;
  text-align: left;
  line-height: 1.2em;
  width: 100%;
  background-color: transparent;
  font-size: 4.5em;
  font-weight: 300;
  transition: all 0.4s ease-out;
}

button.accordion:hover {
  color: #E30613;
}

button.accordion:focus {
  outline: 0
}

button.accordion:active {
  font-weight: 600;
}


/* ----- -------- ----- */


/* --- body Styling --- */


/* ----- -------- ----- */

.map-container {
  z-index: 0;
}

#map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  transition: 0.4s linear;
}


/* ----- -------- ----- */


/* -- @media queries -- */


/* ----- -------- ----- */

@media screen and (max-width: 1600px) {
  body {
    font-size: 16px;
  }
  .dataArea {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  button.accordion {
    font-size: calc(1.5rem + 4.5vmin);
  }
  body {
    font-size: 13px;
    margin: 2em;
  }
  .dataArea {
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  body {
    margin: 1em;
  }
  .mobile-accordion {
    right: 10px;
    position: fixed;
    z-index: 999;
    font-size: 24px;
    font-weight: 100;
  }
  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    background-color: white;
    opacity: 1;
    margin-top: 0;
    width: 100%;
    height: 100vh;
  }
  #map {
    opacity: 1;
  }
  .main-nav {
    position: fixed;
    bottom: 10px;
    width: 97%;
  }
  .dataArea {
    display: none;
  }
  button.accordion {
    display: inline-block;
    padding: 4px 9px;
    margin: 4px 2px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .1);
    font-size: 7vw;
    padding: 5px 10px;
    width: auto;
    background-color: white;
  }
}