

@mixin fface($path, $family, $width, $type, $weight: 400, $svg: '', $style: normal, $offical-name:'') {
    @font-face {
      font-family: $offical-name;
      @if $svg == '' {
        // with OTF without SVG and EOT
        src: url('#{$path}#{$family}#{$width}#{$type}.otf') format('opentype'), url('#{$path}#{$family}#{$width}#{$type}.woff2') format('woff2'), url('#{$path}#{$family}#{$width}#{$type}.woff') format('woff'), url('#{$path}#{$family}#{$width}#{$type}.ttf') format('truetype');
      } @else {
        // traditional src inclusions
        src: url('#{$path}#{$family}#{$width}#{$type}.eot');
        src: url('#{$path}#{$family}#{$width}#{$type}.eot?#iefix') format('embedded-opentype'), url('#{$path}#{$family}#{$width}#{$type}.woff2') format('woff2'), url('#{$path}#{$family}#{$width}#{$type}.woff') format('woff'), url('#{$path}#{$family}#{$width}#{$type}.ttf') format('truetype'), url('#{$path}#{$family}#{$width}#{$type}.svg##{$svg}') format('svg');
      }
      font-weight: $weight;
      font-style: $style;
    }
  }
  // ========================================================importing
  $dir: 'https://custardsieve.github.io/swinburne/fonts/';
  $SimplonNorm: 'SimplonNorm';
  $name: 'Simplon Norm';
  $pack: '-WebS';
  @include fface('#{$dir}',$SimplonNorm,'-Light', $pack, '300', '$SimplonNorm', normal, $SimplonNorm + '-Light');
  @include fface('#{$dir}',$SimplonNorm,'-Regular', $pack, '300', $SimplonNorm, normal, $SimplonNorm + '-Regular');
  @include fface('#{$dir}',$SimplonNorm,'-Medium', $pack, '300', $SimplonNorm, normal, $SimplonNorm + '-Medium');
  @include fface('#{$dir}',$SimplonNorm,'-Bold', $pack, '300', $SimplonNorm, normal, $SimplonNorm + '-Bold');
  @include fface('#{$dir}',$SimplonNorm,'-LightItalic', $pack, '300', $SimplonNorm, italic, $SimplonNorm + '-LightItalic');
  @include fface('#{$dir}',$SimplonNorm,'-RegularItalic', $pack, '300', $SimplonNorm, italic, $SimplonNorm + '-RegularItalic');
  @include fface('#{$dir}',$SimplonNorm,'-MediumItalic', $pack, '300', $SimplonNorm, italic, $SimplonNorm + '-MediumItalic');
  @include fface('#{$dir}',$SimplonNorm,'-BoldItalic', $pack, '300', $SimplonNorm, italic, $SimplonNorm + '-BoldItalic');
  
  $SimplonMono: 'SimplonMono';
  $name: 'Simplon Mono';
  @include fface('#{$dir}',$SimplonMono,'-Light', $pack, '300', $SimplonMono, normal, $SimplonMono + '-Light');
  @include fface('#{$dir}',$SimplonMono,'-Regular', $pack, '300', $SimplonMono, normal, $SimplonMono + '-Regular');
  @include fface('#{$dir}',$SimplonMono,'-Medium', $pack, '300', $SimplonMono, normal, $SimplonMono + '-Medium');
  @include fface('#{$dir}',$SimplonMono,'-Bold', $pack, '300', $SimplonMono, normal, $SimplonMono + '-Bold');
  @include fface('#{$dir}',$SimplonMono,'-LightItalic', $pack, '3300', $SimplonMono italic, $SimplonMono + '-Light');
  @include fface('#{$dir}',$SimplonMono,'-RegularItalic', $pack, '300', $SimplonMono italic, $SimplonMono + '-Regular');
  @include fface('#{$dir}',$SimplonMono,'-MediumItalic', $pack, '300', $SimplonMono italic, $SimplonMono + '-Medium');
  @include fface('#{$dir}',$SimplonMono,'-BoldItalic', $pack, '300', $SimplonMono italic, $SimplonMono + '-Bold');
  // ========================================================usage
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');