.theme--page-details-tall {
    &> .container {
        background-color: white;
        
        @media (min-width:640px) {
            background-color: $hero-white!important;
        }
        @media (min-width: 1024px) {
            background-color: transparent!important;
        }
        & .description {
            color:black!important;
        }
        &:before {
            background-color: $hero-white!important;
        }
    }
}