.theme--page-details-tall, .theme--page-details-narrow {
    &> .container {
        background-color: white;
        
        @media (min-width:640px) {
            background-color: $hero-white!important;
        }
        @media (min-width: 1024px) {
            background-color: transparent!important;
        }
        & .description {
            color:black!important;
        }
        &:before {
            background-color: $hero-white!important;
        }
    }
}
#test {
    &-1, &-2, &-3, &-4, &-5, &-6 {
        &.theme--page-details-tall, .theme--page-details-narrow {
            &> .container {
                background-color: white;
                
                @media (min-width:640px) {
                    background-color: white!important;
                }
                @media (min-width: 1024px) {
                    background-color: transparent!important;
                }
                & .description {
                    color:black!important;
                }
                &:before {
                    background-color: white!important;
                }
            }
        }
    }
}