
$norm: 'Simplon Norm', fantasy;
$mono: 'Simplon Mono', fantasy;

.brand-header__nav .nav-link {
    font-family: $norm!important;
    font-size: 1.04rem!important;
    letter-spacing: 0.1px;
    text-transform: capitalize!important;
}

.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
    font-family: $norm!important;
}
.h1, .h2, .h3, h1, h2, h3 {
    font-weight:300!important;
}
.h4, .h5, h4, h5 {
    font-weight:800!important;
}
.h1, h1 {
    letter-spacing: 3px;
    font-weight:300!important;
    font-size: 42px;
    line-height: 1.1;
    text-transform: uppercase!important;
}
.h2, h2 {
    font-size: 33px!important;
}
.h3, h3 {
    font-size: 28px!important;
}
.h4, h4 {
    font-size:20px;
    font-weight: 500!important;
    line-height: 1.25;
}
.card-taglist li  {
    text-transform: uppercase;
    padding:0;
    font-family:'$mono', fantasy;
    letter-spacing: 2px;
    font-size:10px;
}
.btn {
  font-family: $norm;
  font-weight: 300!important;
  text-transform: uppercase;
  letter-spacing: 2px !important; 
}
.btn-primary-yellow, .bg-yellow, .bg-yellow-pattern .theme--lists-cards-charcoal .card.card--promoted>.card-body, .card--promoted>.card-body, .cards-promoted .card>.card-body, .theme--lists-cards-charcoal .card.card--promoted>.card-body{
    // background-color: #f6f6f6!important;
    background-color: hsl(3, 93%, 93%);
}
.card--promoted>.card-body {
    background-color: #f6f6f6!important;
}
.nav-link.l-2 {
    font-size: 1rem!important;
    font-weight: 100!important;
}
.cards-tiles-narrow .card .card-title {
    font-family: $norm!important;
    font-weight: 400;
}
.icon--yellow .svg-inline--fa {
    color: #FF726B;
}
.bg-grey5, .bg-grey-5 {
    background-color: #e2e2e2!important;
}
.contentblock>.icon, .btn-link {
    color: inherit!important;
}