


.icon--yellow .svg-inline--fa {
    color: #f8f8f8;
}
.bg-grey5, .bg-grey-5 {
    background-color: #e2e2e2;
}

.contact-details .meta--main, .event-details .meta--main, #content-area .news-details[component] .media-object .meta--main {
align-items: none!important;
}    

