/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* T Y P O G R A P H Y ~~~~~~~~~~~ */
/* ——————————————————————————————— */

/* CHANGE BODY FONT HERE ----- */

/*
body {
    -webkit-font-smoothing: antialiased;
    font-family: $norm + '-Light';
    line-height: 1.4;
}


.p, p, ul, li:not(li.breadcrumb-item), a:not(.breadcrumb-item a), tr, td, th  {
    -webkit-font-smoothing: antialiased;
    font-family: $norm + '-Light';
    line-height: 1.4;
}
p {
    em, i {
        font-family: $norm + '-LightItalic';
    }
    b, strong {
        font-family: $norm + '-Medium';
    }
}
a {
    span {
        font-family: $norm + '-Regular';
    }
}
*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: $norm + '-Regular';
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    & .strong,b,strong {
        font-weight: 100!important;
    }
    color:black!important;
}

.h4, .h5, h4, h5 {
    font-family: $norm + '-Medium';
}
.h1, h1 {
    font-family: $norm + '-Light';
    font-size: $h1;
    @media(max-width:$lg-break){
        font-size: $h1-mob-lg!important;
        font-family: $norm + '-Medium'!important;
    }
    @media(max-width:$sm-break){
        font-size: $h1-mob-sm!important;
    }
    line-height: 1;
    letter-spacing: -1.3px;
    text-transform: none;
    font-feature-settings: 'salt';
}
.h2, h2 {
    font-size: $h2;
    @media(max-width:$lg-break){
        font-size: $h2-mob-lg!important;
    }
    @media(max-width:$sm-break){
        font-size: $h2-mob-sm!important;
    }
}
.h3, h3 {
    font-size: $h3;
    @media(max-width:$lg-break){
        font-size: $h3-mob-lg!important;
    }
    @media(max-width:$sm-break){
        font-size: $h3-mob-sm!important;
    }
    letter-spacing: 0;
}
.h4, h4 {
    font-size:$h4;
    @media(max-width:$lg-break){
        font-size: $h4-mob-lg!important;
    }
    @media(max-width:$sm-break){
        font-size: $h4-mob-sm!important;
    }
}
.h5, h5 {
    font-size:$h5;
    @media(max-width:$lg-break){
        font-size: $h5-mob-lg!important;
    }
    @media(max-width:$sm-break){
        font-size: $h5-mob-sm!important;
    }
    font-family:$norm + '-Medium';
}
.h6, h6 {
    font-size:$body;
    font-family:$norm + '-Medium';
}
.breadcrumb {
    font-family: 'SimplonNorm-Regular';
    font-size: 10.5px;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: subpixel-antialiased;
    // color:black;
}
.contact-details .details__contrast, .event-details .details__contrast, .news-details[component] .details__contrast {
    & .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color:white
    }
}
.theme--page-details-narrow>.container .description, .theme--page-details-narrow>.container .title, .theme--page-details-tall>.container .description, .theme--page-details-tall>.container .title {
    & > .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color:white
    }
}