@font-face {
  font-family: 'lyon';
  src: url("/fonts/LyonDisplay-Light.woff2") format("woff2"), url("/fonts/LyonDisplay-Light.woff") format("woff"), url("/fonts/LyonDisplay-Light.ttf") format("truetype"), url("/fonts/LyonDisplay-Light.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  unicode-range: U+000-5FF;
  /* Latin glyphs */
}

@font-face {
  font-family: 'gotham';
  src: url("/fonts/BD-Gotham.woff2") format("woff2"), url("/fonts/BD-Gotham.woff") format("woff"), url("/fonts/BD-Gotham.ttf") format("truetype"), url("/fonts/BD-Gotham.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  unicode-range: U+0020-U+007E;
  /* Basic Latin glyphs */
}

@font-face {
  font-family: 'gotham';
  src: url("/fonts/BD-Gotham--Light.woff2") format("woff2"), url("/fonts/BD-Gotham--Light.woff") format("woff"), url("/fonts/BD-Gotham--Light.ttf") format("truetype"), url("/fonts/BD-Gotham--Light.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  unicode-range: U+0020-U+007E;
  /* Basic Latin glyphs */
}

body {
  font-family: gotham, "Helvetica Neue", helvetica, sans-serif;
  font-size: 14px;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  overflow: hidden;
}

body.middle {
  background-color: #656656;
  color: #F0EDE4;
  fill: #F0EDE4;
  stroke: #F0EDE4;
}

body.middle .inner {
  background-color: #656656;
}

body.light {
  background-color: #9F9D8F;
  color: #3B4031;
  fill: #3B4031;
  stroke: #3B4031;
}

body.light .inner {
  background-color: #9F9D8F;
}

body.light .plant-one {
  right: 66vw;
}

body.light .plant-two {
  left: 70vw;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

body.lighter {
  background-color: #F0EDE4;
  color: #3B4031;
  fill: #3B4031;
  stroke: #3B4031;
}

body.lighter .inner {
  background-color: #F0EDE4;
}

body.lighter .plant-one {
  right: 65vw;
}

body.lighter .plant-two {
  left: 71vw;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

body.dark {
  background-color: #3B4031;
  color: #F0EDE4;
  fill: #F0EDE4;
  stroke: #9F9D8F;
}

body.dark .inner {
  background-color: #3B4031;
}

body.dark .plant-one {
  right: 69vw;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

body.dark .plant-two {
  left: 67vw;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

body.darker {
  background-color: #1D2515;
  color: #9F9D8F;
  fill: #9F9D8F;
  stroke: #656656;
}

body.darker .inner {
  background-color: #1D2515;
}

body.darker .plant-one {
  right: 70vw;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

body.darker .plant-two {
  left: 66vw;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

body a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

body a:hover {
  color: white;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

body a#nav-home:hover {
  border: 0;
}

body h1, body h2, body h3, body h4, body p, body a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothin: grayscale;
  margin: 0;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: 400;
}

body .hide {
  display: none;
}

body .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  z-index: 2;
  width: 100%;
  position: fixed;
  font-size: 1rem;
  font-weight: 500;
  line-height: 0;
}

nav .nav-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container__logo {
  width: 100px;
  padding-top: 20px;
}

nav .nav-container #nav-contact {
  width: 120px;
  display: inline-block;
  padding: 18px 0;
}

.body-container {
  position: relative;
}

.body-container .plant-one {
  position: fixed;
  width: 420px;
  top: 11vh;
  z-index: 1;
  right: 68vw;
  opacity: 0.4;
  -webkit-transition: 0.7s all 0.1s ease-out;
  transition: 0.7s all 0.1s ease-out;
}

.body-container .plant-two {
  position: fixed;
  width: 420px;
  bottom: 4vh;
  z-index: 1;
  left: 68vw;
  opacity: 0.4;
  -webkit-transition: 0.7s all 0.1s ease-out;
  transition: 0.7s all 0.1s ease-out;
}

#belt {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  position: relative;
  width: 500%;
  right: 200%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#belt .body-container {
  width: 100%;
  height: 100vh;
}

#belt .card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20vh 0;
  max-width: 900px;
  width: 100%;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.inner h2 {
  font-size: 1rem;
  color: inherit;
}

.inner #date {
  margin-top: 50px;
  width: 240px;
}

.inner__accordion {
  position: relative;
  border: 1.5px solid;
  border-radius: 3px;
  border-color: white;
  padding: 1rem 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.inner__accordion:hover {
  background-color: #33372a;
}

.inner span {
  -webkit-transition: all 0.4s 0.2s ease-in-out;
  transition: all 0.4s 0.2s ease-in-out;
  display: inline-block;
}

#accomm .accommodation {
  width: 550px;
}

#accomm p {
  font-variant: initial;
  font-weight: 100;
  letter-spacing: 0;
  font-size: 1rem;
  width: 70%;
  margin-bottom: 1rem;
  background-color: #F0EDE4;
}

#accomm h2 {
  margin: 1rem 0 1rem;
}

#accomm a {
  font-variant: initial;
  padding: 0;
  letter-spacing: 0;
  border-bottom: 2px solid #3B4031;
}

#accomm a:hover {
  border: 0;
  color: #9F9D8F;
  border-bottom: 2px solid #9F9D8F;
}

#count-down {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: lyon, times, serif;
  font-variant-numeric: oldstyle-nums;
  font-size: 9rem;
  line-height: 1;
}

#count-down #days:after, #count-down #hours:after, #count-down #minutes:after {
  font-family: lyon, times, serif;
  font-size: 7rem;
  content: ":";
  padding: 0 10px;
}

#count-down__days, #count-down__hours, #count-down__minutes, #count-down__seconds {
  position: relative;
}

#count-down__seconds {
  width: 130px;
}

#count-down h3 {
  position: absolute;
  font-family: gotham, "Helvetica Neue", helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  width: 70%;
}

#well .gifts {
  width: 400px;
  opacity: 0.5;
}

#well p {
  font-variant: normal;
  font-weight: 100;
  max-width: 500px;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#well h3 {
  color: white;
  z-index: 2;
}

#well .bank-details {
  overflow: hidden;
  padding: 0 1em;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 280px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

#well .bank-details .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 0;
}

#well .bank-details .row:first-child {
  padding-top: 40px;
}

#well .bank-details .cell:first-child {
  font-weight: 100;
  font-variant: small-caps;
}

#well .open {
  max-height: 500px;
  opacity: 1;
}

.turn {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

#contact .contact {
  width: 500px;
}

#contact form#RSVP {
  font-family: gotham, "Helvetica Neue", helvetica, sans-serif;
  margin-top: 10px;
}

#contact form#RSVP #complete {
  position: absolute;
  height: 400px;
  background-color: #1D2515;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact form#RSVP #complete p {
  padding-top: 16px;
  font-variant: initial;
  font-weight: 100;
}

#contact form#RSVP #complete .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  padding-top: 28px;
}

#contact form#RSVP label {
  display: none;
}

#contact form#RSVP input[type=text] {
  font-size: 0.8rem;
  border-radius: 4px;
  border: 1px solid #9F9D8F;
  background-color: transparent;
  color: #F0EDE4;
  padding: 12px 20px;
  width: 100%;
}

#contact form#RSVP input[type=text]:focus {
  border: 2px solid #F0EDE4;
}

#contact form#RSVP button {
  width: 50%;
  padding: 12px 20px;
  border-radius: 4px;
  border: 2px solid #9F9D8F;
  border: 0;
  background-color: rgba(255, 255, 255, 0.1);
  background-color: #9F9D8F;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

#contact form#RSVP textarea {
  font-size: 0.8rem;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #9F9D8F;
  border-radius: 4px;
  background-color: transparent;
  color: #F0EDE4;
  resize: none;
}

#contact form#RSVP textarea:focus {
  border: 2px solid #F0EDE4;
}

#contact form#RSVP div {
  width: 400px;
  padding: 8px;
}

#contact form#RSVP .other {
  padding-bottom: 300px;
  word-wrap: break-word;
}

#itin .itinerary {
  width: 400px;
  padding-bottom: 1vh;
}

#itin .itin__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px 10px;
  background-color: #9F9D8F;
}

#itin .itin__card {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  text-align: center;
  width: 20%;
}

#itin .itin__card:nth-child(1) .itin__card__img svg {
  height: 130%;
  -webkit-transform: translate(8px, -16px);
          transform: translate(8px, -16px);
}

#itin .itin__card__img {
  width: 100%;
  height: 50px;
}

#itin .itin__card__img svg {
  height: 100%;
}

#itin .itin__card__img svg path {
  fill: #F0EDE4;
  stroke-width: 0px;
}

#itin .itin__card__day {
  color: #F0EDE4;
  padding: 16px 0 0;
}

#itin .itin__card__timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  padding: 20px 0;
}

#itin .itin__card__timeline div {
  border-top: 1.5px solid white;
  height: 10px;
  width: 50%;
}

#itin .itin__card__timeline div:nth-child(odd) {
  border-right: 2px solid white;
}

#itin .itin__card__timeline.dashed div {
  border-top: 1.5px dashed white;
}

#itin .itin__card__timeline.dashed div:nth-child(odd) {
  border-right: 2px dashed white;
}

#itin .itin__card__name {
  padding: 6px 0 0;
}

#itin .itin__card__desc {
  text-transform: initial;
  font-weight: 100;
  font-size: 0.9rem;
  padding: 14px 10px;
}

#itin .itin__card__attire {
  font-family: serif;
  font-size: 1rem;
  letter-spacing: initial;
  text-transform: initial;
  font-style: italic;
  padding: 0 20px 0;
}
