html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border-width: 0;
  font-size: 22px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 44px;
}

h1#c {
  display: none;
}

body {
  margin: 0;
  padding: 64px 16px;
  background-color: black;
  color: #91BCFD;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

span {
  display: none;
}

span.a {
  display: inline-block;
  font-size: 24px;
}

code {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 10px;
  font-family: inherit;
  font-size: 10px;
  font-weight: 100;
  line-height: 24px;
  -webkit-animation: blink 3s ease-in infinite;
          animation: blink 3s ease-in infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}
