html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 44px;
}

body {
  background-color: black;
  padding: 64px 16px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

span {
  display: none;
}
