html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border-width: 0;
  font-size: 22px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 44px;
}

body {
  margin: 0;
  padding: 32px 16px;
  background-color: black;
  color: #91BCFD;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

span {
  display: none;
}
