/* ---------------------------------------- */


/* --------- Inicial presets -------------- */


/* ---------------------------------------- */

* {
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(20, 20, 20);
  color: rgb(230, 230, 230);
  overflow: hidden;
  width: 100vw;
  /*  font-size: 20px;*/
  height: 100vh;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wheel {
  width: 100%;
  height: 800vh;
}

.height500 {
  height: 500vh!important;
}

.start {
  height: 300vh;
  transform-origin: top;
  transform: translateY(250px) scale(0.1);
}

.animation {
  animation: spinner 1s linear reverse infinite;
}


/* ---------------------------------------- */


/* ------------- Variables ---------------- */


/* ---------------------------------------- */

.box1 {
  float: left;
  border-right: 15px solid white;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}

.box2 {
  text-align: center;
  float: left;
  width: 24px;
  height: 45px;
  background-color: #6C6;
}

.box3 {
  float: left;
  border-left: 15px solid #6C6;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}

a {
  text-decoration: none;
}

aside a {
  text-decoration: none;
  font-family:  monospace;
  font-size: 0.9em;
  font-weight: 100;
  color: white;
  padding-bottom: 4px;
/*  transition: all 0.4s;*/
}

aside a:after {
  content: '\27F6';
  letter-spacing: -2px;
  padding-left: 10px;
}

aside a:hover {
  border-bottom: 2px solid white;
}

.link-container a {
  text-decoration: none;
}

h1 {
  font-size: 1em;
  /*  font-family: serif;*/
  text-transform: uppercase;
  letter-spacing: 7px;
  text-decoration: none;
  font-weight: 400;
  color: white!important;
}

span.nav {
  color: white;
  font-size: 1.8em;
  text-align: center;
  font-weight: 800;
  flex-basis: 100%;
  line-height: 1.5em;
  /*  border-bottom: 4px solid white;*/
}

h2 {
  font-size: 2.2em;
  letter-spacing: -0.5px;
  font-weight: 800;
  margin-bottom: 1em;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}

.link {
/*  transition: all 0.4s;*/
  cursor: pointer;
}

.link:hover {
  transform: scale(0.9);
  font-family: serif;
}

iframe {
  width: 80%;
  height: 70vh;
  margin-right: 50px;
  box-shadow: 5px 5px 40px black;
}

iframe.scale {
  width: 100%;
  height: 100%;
  transform: scale(0.6);
}

aside {
  flex-basis: 50%;
  display: flex;
  /*  padding-top: 10%;*/
  /*  justify-content: center;*/
  /*  align-items: baseline;*/
}


/* ---------------------------------------- */


/* ---------------- NAV ------------------- */


/* ---------------------------------------- */

.link-container-left {
  position: fixed;
  top: 30px;
  left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 94vh;
  z-index: 999;
}

.link-container-right {
  position: fixed;
  top: 30px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 94vh;
  z-index: 999;
}

.top-container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 35px;
  z-index: 5;
}

.bottom-container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 45px;
  z-index: 5;
}


/* ---------------------------------------- */


/* ----------- Main Components ------------ */


/* ---------------------------------------- */

.body-container {
  width: 100%;
  height: 800vh;
  position: absolute;
  /*  animation: spin 3s infinite*/
  /*  transition: cubic-bezier(0.27, 0.57, 0.78, 0.46) 0.5s;*/
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro .textbox {
  width: 40%;
  padding: 0;
}

aside.scale {
  flex-basis: 60%;
}

.textbox {
  padding-left:10%;
}

.a {
  z-index: 6;
}

.b {
  transform: rotate(60deg)
}

.c {
  transform: rotate(120deg)
}

.d {
  transform: rotate(180deg)
}

.e {
  transform: rotate(240deg)
}

.f {
  transform: rotate(300deg)
}

aside.left {
  display: flex;
  align-items: center;
  padding-left: 140px;
}

aside.right {
  justify-content: flex-end;
  flex-basis: ;
}


@keyframes spinner {
  to {transform: rotate(0deg)}
  from {transform:rotate(360deg)}
}