$color--body:#91BCFD;
$color--body-contrast:#001277;

$font-stack: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
hr {
    border-width: 0;
    font-size: 22px;
}

h1 {
    margin:0;
    padding: 0;
    font-size: 44px;
}